@media screen and (min-width: 800px) {
  .navigation {
    margin-left: 10%;
  }
    .navigation li {
        margin-top: 3%;
      }
     
    .overlay {
      margin-top: 7%;
        z-index: 1;
    }
    .overlay .closebtn {
      z-index: 1;
      top: 150px;
    }
    .overlay a {
      z-index: -1;
      /* margin-top: -5%; */
      font-size: 24px;
    }
    .overlay a div{
      margin-left: 35%;
      width: 440px;
     }
    .navImg {
        display: block;
        position: absolute;
        height: 100px;
        margin-left: 2.3%;
      }
      .last {
        margin-top: 5%; 
      }
      .firstL, .thirdL, .secondL {
        display: block;
        position: absolute;
      }
      .firstL {
        margin-left: 5%;
      }
      .thirdL {
        margin-left: 70%;   
      }
      .th2{
        border-radius: 10px;
        }
        .th2:nth-child(2) {
          width: 90px;
        }
        .th2:nth-child(1), .th2:nth-child(3) {
          width: 200px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.732);
        }
        .secondL {
          margin-top: 1%;
          margin-left: 30%;
        }
    footer {
        margin-top: 30%;
        margin-left: 33%;
    }
  
  }
  
